@model IEnumerable<wolffERPWebApplication.Models.ApplicationUser>
@{
    ViewBag.Title = "Manage Users";
}

<div class="container">
    <div>
        <h2>Manage Users</h2>
    </div>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>User Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.FirstName</td>
                    <td> @item.LastName</td>
                    <td> @item.Email </td>
                    <td> @item.UserName </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { UserName = item.UserName })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { UserName = item.UserName },
                        new {onClick = "return confirm('Are you sure you wish to delete this user');" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

                                   
